<html>
<head>

<link rel="stylesheet" href="static/style.css" type="text/css" />
<title>Request Late</title>

</head>
<body>

<div id="late-list-container">
<h1>Lates for {{ today }}</h1>
<ul id="late-list"{% if not todays_lates %} style="display: none;"{% endif %}>
{% for late in todays_lates %}
    <li class="late-item" id="late-{{ late.id }}">
        <span class="late-name">{{ late.name }}</span>
        <div class="late-properties">
            <span class="late-refrigerated">
                {% if late.refrigerated %}Refrigerated{% else %}Unrefrigerated{% endif %}
            </span>
            <span class="late-cancel">
                <a href="{{ late.id }}" class="late-cancel-link">Cancel</a>
            </span>
        </div>
        <div class="clear"></div>
    </li>
{% endfor %}
</ul>
<div id="no-lates"{% if todays_lates %}style="display: none;"{% endif %}>
    No lates (yet) today!
</div>

<div id="request-container">
<form method="POST" action="request" id="request">
    {% csrf_token %}
    Name: <input type="text" id="name" name="name" />
    Refrigerated: <input type="checkbox" id="refrigerated" name="refrigerated" checked="checked" />
    <input type="submit" id="request-submit" value="Submit" />
</form>
</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="static/behavior.js" type="text/javascript"></script>

</body>
</html>
