body {
    font-family: sans-serif;
    background-color: #4A005E;
    color: white;
}

#late-list-container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

#request-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 3px white solid;
    border-radius: 5px;
    padding: 8px;
}

#late-list {
    border: 3px white solid;
    border-radius: 9px;
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}

#late-list li {
    border-top: 3px white solid;
    padding: 8px;
}

#late-list li:first-child {
    border: none;
}

h1 {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

.late-name {
    display: block;
    font-size: 1.5em;
}

.late-refrigerated {
    font-style: italic;
    display: block;
    float: left;
}

form {
    margin: 0;
    padding: 0;
}

#no-lates {
    font-size: 1.5em;
    margin-bottom: 12px;
}

.late-cancel {
    display: block;
    float: right;
}

.late-cancel a {
    color: #80BBFF;
    text-decoration: none;
}

.clear {
    clear: both;
}
